@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    width: auto;
    overflow-x: hidden;
}

body {
    width: 100%;
}

/* NAVBAR LAYOUT */
.bg_navbar-default {
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: rgb(108, 108, 239);
}

.bg_navbar-default a {
    color: #fff;
}

.bg_navbar-default ul li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg_navbar-default a:hover {
    color: #555f69;
    transition: .3s;

}

/* SLIDE TEST */
/* .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: -20px;
    margin-left: -240px;
    width: 101%;
    height: 90%;
    background: rgba(0,0,0,.5);
    padding: 170px;
    color: rgb(108, 108, 239);
    text-shadow: 1px 2px 12px #000000;
} */

/* **********************************************************************************************************
*                                                                                                           *
*                                                                                                           *
*                                               HOME PAGE                                                   *
*                                                                                                           *
*                                                                                                           *
* ******************************************************************************************************** */

/* SECTION RESUME ABOUT */
.section-about {
    margin-top: 0px !important;
}

.image_profile {
    margin-top: 70px;
    background: #f2f2f2;
    padding: 15px 15px !important;
    width: 535px;
    box-shadow: 1px 2px 12px #cecece;
    border-radius: 8px;
}

.image_profile img {
    border: 7px solid #fff;
    border-radius: 8px;
}

.card-about {
    border: none;
    width: 90% !important;
    border-radius: 8px;
    height: auto !important;
}

.card_description-about p span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .050rem;
    margin-top: -50px;
    color: #555f69 !important;
}


.card-about p {
    font-size: 14px;
    color: #888888;
}

.default_layout {
    font-size: .950em;
}

.title_information span {
    color: #555f69;
    font-weight: 700;
}

.text_information span {
    color: #888888;
    font-weight: 300;
}

.icon_medias-sociais i {
    font-size: 35px;
    color: rgb(108, 108, 239);
}


/* SECTION CONTACT */
.section-contact {
    margin-top: 0;
    margin-left: -14px !important;
    width: 101% !important;
    padding-top: 80px;
    padding-right: 150px;
    padding-bottom: 90px;
    padding-left: 150px;
    background-color: #f2f2f2 !important;
}

.card-contact {
    border: none;
    border-radius: 8px;
}

.bg-icon {
    margin-top: 25px;
    width: 85px;
    height: 85px;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 1px 2px 12px #e4e4e4;

}

.bg-icon i {
    margin-top: 9px;
    font-size: 43px;
    color: #6c6cef;
}

.title_type-contact span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .050rem;
    margin-top: -50px;
    color: #555f69 !important;
}

.text_information-contact span {
    font-size: 14px;
    color: #888888;
}


/* **********************************************************************************************************
*                                                                                                           *
*                                                                                                           *
*                                               PAGE ABOUT                                                  *
*                                                                                                           *
*                                                                                                           *
* ******************************************************************************************************** */

.about {
    margin-top: 0px;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.header_title-course span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .050rem;
    margin-top: -50px;
    color: #555f69 !important;
}

.about_information-gray {
    color: #555f69;
    background-color: #f2f2f2;
    padding: 50px 80px;
    width: 100%;
    height: 700px;
}

.card_course-information {
    width: 100%;
    margin: 10px 0px;
    padding: 25px 25px;
    box-shadow: 1px 2px 12px #e4e4e4;
    font-size: 15px;
    color: #888888;
    border: none;
    border-radius: 10px;
}


.img_logo-instituicao {
    background-color: #f2f2f2;
    width: 180px;
    height: 180px;
    padding: 10px 10px;
    box-shadow: 1px 2px 12px #cecece;
    border-radius: 10px;
}

.img_logo-instituicao img {
    border: 7px solid #fff;
    border-radius: 8px;
}

.information_date {
    margin-top: 65px;
}

.information_time {
    margin-top: 65px;
    color: #ccc;
}

/* information progress dev */
.information_progressDev {
    padding: 50px 80px;
    height: 500px;
    width: 100%;
}

.default_layout-progress {
    padding: 5px 20px;
}

.default_layout-progress .information_title-progress, .information_porcentoProgress {
    padding: 18px 10px 0;
}

.information_text-progress span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .050rem;
    margin-top: -50px;
    color: #555f69 !important;
}