@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    width: auto;
    overflow-x: hidden;
}

body {
    width: 100%;
}

/* NAVBAR LAYOUT */
.bg_navbar-default {
    margin-bottom: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: rgba(108, 108, 239, .9);
}

.bg_navbar-default a {
    color: #fff;
}

.bg_navbar-default ul li {
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

.bg_navbar-default a:hover {
    color: #555f69;
    transition: .3s;

}

.navbar-collapse {
    color: #fff !important;
}

/* SLIDE TEST */
/* .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: -20px;
    margin-left: -240px;
    width: 101%;
    height: 90%;
    background: rgba(0,0,0,.5);
    padding: 170px;
    color: rgb(108, 108, 239);
    text-shadow: 1px 2px 12px #000000;
} */


/* SECTION RESUME ABOUT */
.section-about {
    margin-top: 60px !important;
}

.image_profile {
    margin-top: 120px;
    background: #f2f2f2;
    padding: 15px 15px !important;
    width: 535px;
    box-shadow: 1px 2px 12px #cecece;
    border-radius: 8px;
}

.image_profile img {
    border: 7px solid #fff;
    border-radius: 8px;
    width: 505px;
    height: 450px;
}

.card-about {
    border: none;
    width: 90% !important;
    border-radius: 8px;
    height: auto !important;
}

.card_description-about p span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .050rem;
    margin-top: -50px;
    color: #555f69 !important;
}


.card-about p {
    font-size: 14px;
    color: #888888;
}

.default_layout {
    font-size: .950em;
}

.title_information span {
    color: #555f69;
    font-weight: 700;
}

.text_information span {
    color: #888888;
    font-weight: 300;
}

.icon_medias-sociais i {
    font-size: 35px;
    color: #6c6cef
}

.breadcrumb_nav-home {
    margin-top: 95px;
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: -10px;
}


/* CARD SERVICOS */
.section-servicos .card-servicos {
    margin-top: 20px;
    background-color: #ffff;
    height: 225px;
    z-index: 9999;
    border: none;
    border-radius: 15px;
}

.bg-icon-servicos {
    margin-top: 35px;
    width: 85px;
    height: 85px;
    padding: 0px 8px;
    border-radius: 50%;
    background: #6c6cef;
}

.bg-icon-servicos i {
    display: block;
    margin: 0px auto;
    width: 100%;
    color: #fff !important;
    box-shadow: 4px 4px 4px #0000 !important;
    font-size: 41px;
    padding: 22px 0;
}


.title-servicos {
    margin: 20px 0px;
    font-size: 19px;
    color: #555F69;
    font-weight: bold;
}

.section-servicos {
    width: auto;
    height: 400px;
    background-color: #f2f2f2;
    padding: 70px 100px;
}

/* SECTION CERTIFICACOES */

.section-certificacoes {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 50px 50px;
}

.section-certificacoes .header {
    display: block;
    width: auto;
    height: auto;
    margin: 50px 0px 30px 0;
}

.section-certificacoes .header .title-certificacoes span {
    font-size: 32px;
    font-weight: bold;
    color: #555F69;
    letter-spacing: 0.050rem;
}

.section-certificacoes .header .subtitle-certificacoes {
    margin: 0px 50px;
    padding: 20px 105px;
}

.section-certificacoes .header .subtitle-certificacoes span {
    font-size: 14px;
    color: #888888;
    
}

.layout-filter {
    padding: 0 50px;
}

.btn-outline-default {
    border: 1px solid #6c6cef;
    color: #6c6cef !important;
    margin: 0px 5px;
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 12px;
    font-weight: bold;
}

.btn-outline-default:hover {
    border: 1px solid #6c6cef;
    border-radius: 12px;
    background-color: #6c6cef;
    color: #fff !important;
    transition: 0.7s;
}

.default-layout-certificacoes {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 80px;
    height:  400px;
}

.default-layout-certificacoes .card-certificado {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #e4e4e4;
}

.card-certificado .card-footer-certificado {
    padding: 20px 30px;
}

.card-img-certificado {
    width: 100%;
    height: 265px;
}


.card-img-certificado img{
    margin: 10px 0px;
    width: 95%;
    height: 80%;
}


/* SECTION CONTACT */
.section-contact {
    margin-top: 0;
    margin-left: -14px !important;
    width: 101% !important;
    padding-top: 80px;
    padding-right: 150px;
    padding-bottom: 90px;
    padding-left: 150px;
    background-color: #f2f2f2 !important;
}

.card-contact {
    border: none;
    border-radius: 15px;
    width: 380px;
    height: 250px;
}

.bg-icon {
    margin-top: 25px;
    width: 85px;
    height: 85px;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 1px 2px 12px #e4e4e4;

}

.bg-icon i {
    margin-top: 9px;
    font-size: 43px;
    color: #6c6cef;
}

.title_type-contact span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .050rem;
    margin-top: -50px;
    color: #555f69 !important;
}

.text_information-contact span {
    font-size: 14px;
    color: #888888;
}

/* FOOTER */
.section_footer {
    padding: 32px 0px;
    background-color: rgba(108, 108, 239, .9);
    color: #fff;
    width: auto;
    height: 80px;
    overflow-y: hidden;
}

.section_footer p {
    font-size: 1.2rem;
}

.section_footer .icon_medias-sociais-footer i {
    color: #fff;
    font-size: 1.5rem;
}


